@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="gencontainer">
    <br />
    <br />
    <div class="box container8">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="~/Images/pagenotfound.png" />
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <h2 class="pageheading align_center">Oops...</h2>
                <h4 class="align_center">Forbidden ... 403</h4>
                <h4 class="align_center"><a href="javascript:history.go(-1)" data-rel="back">Click here</a> to go <b>Back</b></h4>
            </div>
        </div>
    </div>
</div>
