<div id="AddProvidersDiv">
      <div class="row">
        <div class="col-sm-1">
            <input type="radio" />
        </div>
        <div class="col-sm-1">
            <input type="radio" />
        </div>
        <div class="col-sm-3">
            <select class="form-control">
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control">
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        
    </div><!--row end---->
</div>
<br />