<div class="tab-pane" id="ColorectalCancerRisk">
    <!--Colorecta accordion start here-->
    <div class="panel-group ColorectalCancerRiskAccordion" id="accordion1">
        <div class="panel panel-default">
            <div class="panel-heading  activeAccordion">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseOne">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                        Physical Data
                    </a>
                </h4>
            </div>
            <div id="ColorectCollapseOne" class="panel-collapse collapse in">
                <div class="panel-body form-inline">
                    <div class="col-lg-2 col-sm-3">
                        <div class="form-group">
                            <label>Weight</label>
                            <input class="form-control input-small" id="txtweightPounds" name="txtweightPounds" />
                            <label>lbs</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-5">
                        <div class="form-group">
                            <label>Height</label>
                            <input class="form-control input-small" id="txtfeet" name="txtfeet" />
                            <label>'</label>
                            <input class="form-control input-small" name="txtinches" id="txtinches" />
                            <label>"</label>
                        </div>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseTwo"> 
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Ethnicity/Origin
                    </a>
                </h4>
            </div>
            <div id="ColorectCollapseTwo" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <label>Ashkenazi Jewish</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <label>Hispanic </label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>

                    </div>
                    <div class="clear-float visible-sm"><br /></div>
                    <div class="col-lg-4 col-md-5 col-sm-9">
                        <label>Race  </label>
                        <select multiple="multiple" class="form-control" id="colo-race-multiselect">
                            <option>Asian</option>
                            <option>African American/Black</option>
                            <option>List Item3</option>
                        </select>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseThree">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Lifestyle
                    </a>
                </h4>
            </div>
            <div id="ColorectCollapseThree" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <label>Num years smoked cigarettes?</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <label>Num cigarettes smoked per day? </label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="clear-float visible-md"><br /></div>
                    <div class="clear-float visible-sm"><br /></div>
                    <div class="col-lg-4 col-md-5 col-sm-4">
                        <label>Vegetables </label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="clear-float visible-lg"><br /></div>
                    <div class="col-md-6 col-sm-8">
                        <label>Hours of vigorous exercise per week </label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseFour">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Menstrual History
                    </a>
                </h4>
            </div>
            <div id="ColorectCollapseFour" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Still Having  Periods</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-5">
                        <label>Age Periods Stopped</label>
                        <input type="text" class="form-control input-small" />
                    </div>

                </div><!--panel body end-->
            </div>
        </div><!--panel end-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseFive">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Hormonal Replacement Therapy
                    </a>
                </h4>
            </div>
            <div id="ColorectCollapseFive" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-3 col-sm-4">
                        <label>Used Hormones</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <label>Years since Taken</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseSix">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Medications
                    </a>
                </h4>
            </div>
            <div id="ColorectCollapseSix" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <label>Regular Aspirins User</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <label>Regular Ibuprofen User</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseSeven">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Patient Reported Genetic Testing
                    </a>
                </h4>
            </div>
            <div id="ColorectCollapseSeven" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <label>Has Had  Cancer Genetic Testing</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-lg-5 col-sm-6">
                        <label>Colon or Rectal Polyp </label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->
    </div><!--accordion end-->
    <div class="col-sm-12 pull-right">
        <button class="pull-right btn btn-success btn-sm  Margin-L-10">Save Risk Factors</button>
        <button class="pull-right btn btn-cancel btn-sm">Reset </button>
    </div> <!--buttons div end-->
</div>
