<div class="tab-pane active" id="BreastCancerRisk">
    <!--accordion start-->
    <div class="panel-group BreastCancerAccordion" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading  activeAccordion">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                        Physical Data
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body form-inline">
                    <div class="col-lg-2 col-sm-3">
                        <div class="form-group">
                            <label>Weight</label>
                            <input class="form-control input-small" />
                            <label>lbs</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-5">
                        <div class="form-group">
                            <label>Height</label>
                            <input class="form-control input-small" />
                            <label>'</label>
                            <input class="form-control input-small" />
                            <label>"</label>
                        </div>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Social History
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-3 col-sm-4">
                        <label>Smoking</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-sm-4">
                        <label>Alcohol</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Ethnicity/Origin
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <label>Ashkenazi Jewish</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <label>Hispanic </label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>

                    </div>
                    <div class="clear-float visible-sm"><br /></div>
                    <div class="col-lg-4 col-md-5 col-sm-9">
                        <label>Race  </label>
                        <select multiple="multiple" class="form-control" id="race-multiselect">
                            <option>Asian</option>
                            <option>African American/Black</option>
                            <option>List Item3</option>
                        </select>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Patient Reported Procedure Hx
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-5 col-md-6 col-sm-7">
                        <label>Chest Wall Radiation < 30 yrs</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-sm-4">
                        <label>Number of Biopsies </label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="clear-float"><br /></div>
                    <div class="ccol-lg-5 col-md-6 col-sm-8">
                        <label>Biopsy W/ Atypical Hyperplasia</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <label>Biopsy W/ LCIS</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Patient Reported Genetic Testing
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-5 col-md-6 col-sm-8">
                        <label>Has Had Cancer Genetic Testing</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="clear-float visible-sm"><br /></div>
                    <div class="col-md-6 col-sm-10">
                        <label>Result</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Childbirth History
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-2 col-sm-4">
                        <label># of Pregnancies</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <label>Currently Pregnant </label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>

                    <div class="col-lg-2 col-sm-3">
                        <label># of Children</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="clear-float visible-md"><br /></div>
                    <div class="clear-float visible-sm"><br /></div>
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <label>Currently Nursing</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>

                    <div class="col-lg-2 col-sm-4">
                        <label>Age at First Birth</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="clear-float visible-lg"><br /></div>
                    <div class="clear-float visible-sm"><br /></div>
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <label>Done Child Bearing</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Birth Control
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <label>Birth Control Use</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-sm-3">
                        <label># years taken</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="col-lg-2 col-sm-3">
                        <label>Age Started</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="clear-float visible-md"><br /></div>
                    <div class="clear-float visible-sm"><br /></div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <label>Continuously</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Menstrual History
                    </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-4 col-sm-4">
                        <label>Age At First Period</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="col-lg-3 col-sm-5">
                        <label>Age Periods Stopped</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="clear-float visible-md"><br /></div>
                    <div class="clear-float visible-sm"><br /></div>
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <label>Still Having  Periods</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3">
                        <label>LMP</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="clear-float visible-lg"><br /></div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label>Confident</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="clear-float visible-md"><br /></div>
                    <div class="clear-float visible-sm"><br /></div>
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <label>Hysterectomy</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3">
                        <label>Age</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="clear-float visible-sm"><br /></div>
                    <div class="clear-float visible-lg"><br /></div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <label>Both Ovaries Removed</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-3">
                        <label>Age</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="clear-float visible-sm"><br /></div>
                    <div class="clear-float visible-md"><br /></div>
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <label>Menopausal Status</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Hormonal Replacement Therapy
                    </a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <label>Used Hormones</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <label>Combined</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-sm-3">
                        <label># years taken</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="clear-float visible-md"><br /></div>
                    <div class="clear-float visible-sm"><br /></div>
                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Intended Duration</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                    <div class="clear-float visible-lg"><br /></div>
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <label>Years since Taken</label>
                        <input type="text" class="form-control input-small" />
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Chemoprevention
                    </a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body form-inline">
                    <div class="col-sm-3">
                        <label>Tamoxifen</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label>Raloxifene</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div><!--panel body end-->
            </div>
        </div><!--panel end-->
    </div><!--accordion end-->
    <div class="col-sm-12 pull-right">
        <button class="pull-right btn btn-success btn-sm  Margin-L-10">Save Risk Factors</button>
        <button class="pull-right btn btn-cancel btn-sm">Reset </button>
    </div> <!--buttons div end-->
</div><!--Breast Cancer Risk tab end here-->
