
<div class="tab-pane" id="cancer-risk-factor">
    <div class="col-sm-12 Padding-TB-10">
        <!-- Repo Tabs --->
        <ul class="nav nav-tabs" id="CancerRiskChild">
            <li class="active"><a href="#BreastCancerRisk" onclick="LoadBreastCancerRiskFactors('@Url.Action("LoadBreastCancerFactors", "EditSurvey")');" data-toggle="tab">Cancer Risk Factors - Breast</a></li>
            <li><a href="#ColorectalCancerRisk" data-toggle="tab" onclick="LoadColorectalCancerRiskFactors('@Url.Action("LoadColorectalCancerRiskFactors", "EditSurvey")')"  >Cancer Risk Factors - Colorectal</a></li>
        </ul>

        <!-- Repo Tabs -->

        <div class="tab-content">
            <!--Start Tab BreastCancerRisk-->
            <div class="tab-pane active" id="BreastCancerRisk">
                @Html.Partial("_CancerRiskFactorBreast",new HRA4.ViewModels.BreastCancer())
            </div>
                <!--End Tab BreastCancerRisk-->
                <!--Start Tab ColorectalCancerRisk-->
            <div class="tab-pane" id="ColorectalCancerRisk">
               @*@Html.Partial("_CancerRiskFactorsColorectal", new HRA4.ViewModels.ColorectalCancer())*@
            </div>
                <!--End Tab ColorectalCancerRisk-->



            </div><!--Cancer risk tab child panel end here-->
    </div> <!--col sm 12 end-->
    <div class="clear-float"></div>
</div><!--Cancer risk factor tab content end-->
<script type="text/javascript" src="~/Scripts/customJquery/CancerRiskFactors.js"></script>