<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RiskApps3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <RiskApps3.Properties.Settings>
      <setting name="RiskApps3_HraCloudServices_RiskAppsCloudServices" serializeAs="String">
        <value>http://localhost/HraCloud/RiskAppsCloudServices.asmx</value>
      </setting>
    </RiskApps3.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="LocalizedPerfCounter" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" maxReceivedMessageSize="10485760">
          <readerQuotas maxStringContentLength="10485760" />
        </binding>
        <binding name="BasicHttpBinding_IService11" maxReceivedMessageSize="10485760" />
        <binding name="BasicHttpBinding_IService12" maxReceivedMessageSize="10485760">
          <readerQuotas maxStringContentLength="10485760" />
        </binding>
        <binding name="BasicHttpBinding_IService13" maxReceivedMessageSize="10485760">
          <readerQuotas maxStringContentLength="10485760" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService1" maxReceivedMessageSize="10485760">
          <readerQuotas maxStringContentLength="10485760" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IService11">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://eek/WcfRiskService/WcfRiskService.Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="AggregatorServiceReference1.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost:56716/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12" contract="AggregatorServiceReferenceDev3.IService1" name="BasicHttpBinding_IService12" />
      <endpoint address="http://api.hughesriskapps.com/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService13" contract="HraRiskAggregator.IService1" name="BasicHttpBinding_IService13" />
      <endpoint address="https://api.hughesriskapps.com/Service1.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1" contract="HraRiskAggregator.IService1" name="WSHttpBinding_IService1" />
      <endpoint address="http://riskaggregator.cloudapp.net/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="AggregatorServiceReference2.IService1" name="BasicHttpBinding_IService11" />
      <endpoint address="https://rd00155dc3ac21/Service1.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService11" contract="AggregatorServiceReference2.IService1" name="WSHttpBinding_IService11" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>