<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.0.0" targetFramework="net45" />
  <package id="jQuery" version="1.10.2" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.6.2" targetFramework="net45" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.SqlServer" version="0.19.0.0" targetFramework="net45" />
  <package id="TinyMCE" version="4.3.3" targetFramework="net45" />
  <package id="TinyMCE.jQuery" version="3.4.7" targetFramework="net45" />
  <package id="TinyMCE.MVC" version="3.4.7" targetFramework="net45" />
  <package id="TinyMCE.MVC.JQuery" version="3.4.7" targetFramework="net45" />
  <package id="TinyMCE.MVC.JQuery.Sample" version="3.4.5" targetFramework="net45" />
  <package id="TinyMCE.MVC.Sample" version="3.4.5" targetFramework="net45" />
</packages>