@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-area container-fluid ">
    <div class="container-fluid row Padding-LR-0 bottom-container-area">
        <div class="container middle-content">
            <div class="row">
                <div class="col-sm-12">
                    <div id="wrapper" class="toggled-2">
                        <!-- Sidebar -->
                        <div id="sidebar-wrapper">

                            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                                <li id="liInstitution">
                                    @*class="active"*@
                                    <a href="@Url.Action("InstitutionDashboard", "Institution")" class="schedule-icon"> Schedule</a>
                                    <!--sidebar child end here-->
                                </li>
                                <li id="liLBC"> @*class="clear-float"*@
                                    <a href="@Url.Action("Index", "HighRiskFollowup", new { type = "LBC" })" class="breast-cancer-icon">Lifetime Breast Cancer <span class="dashboard-count">0</span></a>
                                </li>
                                <li id="liBRCA">
                                    <a href="@Url.Action("Index", "HighRiskFollowup", new { type = "BRCA" })" class="BRCA-icon">BRCA Mutation <span class="dashboard-count">0</span></a>
                                </li>
                            </ul>

                        </div><!-- /#sidebar-wrapper -->
                        
                        <!-- Page Content -->

                        <div id="page-content-wrapper" class="clear-float">
                            <div class="container-fluid xyz clear-float">
                           
                                    @RenderBody()
                              
                            </div><!--container end-->

                        </div>
                        <!-- /#page-content-wrapper -->
                    </div>
                </div>
            </div><!--row end-->
        </div><!--container end-->
    </div><!--container fluid end-->
</div> <!-- /container area end -->

<script type="text/javascript" >
    function AddCss(id)
    {
        $(id).addClass("active");
    }
    function RemoveCss(id)
    {
        $(id).removeClass("active")
    }

</script>
