/*custom font*/
@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans_light/OpenSans-Light-webfont.eot');
    src: url('fonts/opensans_light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_light/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/opensans_light/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/opensans_light/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans_regular/OpenSans-Regular-webfont.eot');
    src: url('fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans_bold/OpenSans-Bold-webfont.eot');
    src: url('fonts/opensans_bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/opensans_bold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/opensans_bold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'FontAwesome';
    src: url('font-awesome-4.5.0/fonts/fontawesome-webfont.eot');
    src: url('font-awesome-4.5.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-awesome-4.5.0/fonts/fontawesome-webfont.woff') format('woff'),
         url('font-awesome-4.5.0/fonts/fontawesome-webfont.ttf') format('truetype'),
         url('font-awesome-4.5.0/fonts/fontawesome-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Custom style*/
html, body{font-family: 'open_sanslight', arial; }
body{background:#fbffff url("../images/body-bg.jpg") repeat 0 0;min-height: 500px;}

/*Login css*/
.login-wrapper{box-shadow: 0 0 8px #999;border: none;border-radius: 0;}
.panel-info > .panel-heading{background-color: #fff;box-shadow: 0 0 8px #999;border:none; box-shadow: 0 3px 5px #e1e1e1;text-align: center;}
.panel-heading{padding: 25px 15px 15px 15px;}
.panel-body{padding:30px 40px;font-size:12px;}
#loginform .form-control{border-radius:0;height:40px;font-size:1.2em;}
#loginform .input-group-addon{border-radius:0;background-color: #000066;color:#fff;font-size: 18px;}
#loginform .visible-password{background-color:transparent;color:#000;border-left:none;}
#loginform .visible-password a{color:#000;}
#loginform .visible-password a:hover{color:#52b2ef;}
#loginform .btn-success, #loginform .btn-danger{border:none;border-radius:0;font-size:1.2em;
opacity: 1;-webkit-transition: all 2s ease;-moz-transition: all 2s ease;-ms-transition: all 2s ease;  -o-transition: all 2s ease; transition: all 2s ease
}
#loginform .btn-danger:hover{background: #840808}
#loginform .btn-success:hover{background: #55870d}
#loginform .btn-success{background: #80c31f;}
#loginform .btn-danger{background: #bc1212;margin-right: 10px;}
.login-right-corner-div{width: 0px;background-color: #e0ecc7;height:96px;opacity: 0.5;filter: alpha(opacity=50); /* For IE8 and earlier */}
.login-right-corner:before, .login-left-corner:before{background: transparent ;border-color: transparent #72b116;border-style: solid;border-width: 120px 105px 0 0;content: "";display: block;right: 0px;position: absolute; top: 0; width: 0;z-index: 100;}
.login-right-corner-div:after, .login-left-corner-div:after{background: transparent ;border-color: transparent #e0ecc7;border-style: solid;border-width: 120px 185px 0 0;content: "";display: block;right: 7px;position: absolute; top: 0; width: 0;z-index:-1;opacity: 0.8;filter: alpha(opacity=80); /* For IE8 and earlier */}
.right-corner-wrapper{position:fixed;right:0;bottom:10px;}
.login-left-corner:before{border-width: 0 0 120px 105px;left: 0px;}
.login-left-corner-div:after{border-width: 0 0 120px 185px;left: 2px;}
.left-corner-wrapper{position:fixed;left:0;top:0px;}


/*Header CSS*/
.logo-dark-blue, .logo-light-blue{color:#000099;font-size: 1.2em;font-family: 'open_sansbold', arial; }
.logo-light-blue{color:#53afee}
.logo-slogan{color:#000099;font-size:0.7em;}
.top-header-bg{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+80,f3f9e9+80,f3f9e9+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 80%, #f3f9e9 80%, #f3f9e9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 80%,#f3f9e9 80%,#f3f9e9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffffff 0%,#ffffff 80%,#f3f9e9 80%,#f3f9e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f9e9',GradientType=1 ); /* IE6-9 */
}
.navbar{min-height: 72px;margin-bottom: 0;}
.top-navbar{height:72px;line-height: 1.4em;}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{ line-height: 1.1em;}
.header-bdr{margin:0 -15px;}
.header-bdr hr{margin:2px 0; border-color: #dfdfdf;width:100%}
.navbar-nav > li > a{padding-top:0;}
.navbar-default .navbar-nav > li > a{color:#ffffff;}
.navbar-default{background-color:#ffffff;box-shadow: 1px 1px 7px #e5e5e5;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{background-color:#72b116;}

ul.navbar-right{height: 70px;}
li.nav-admintool{position:relative;background: #72b116;}
li.nav-admintool::before {background: transparent;border-color: transparent #72b116;border-style: solid;border-width: 0 35px 70px 0;content: "";display: block;right: 80px;position: absolute; top: 0; width: 0;}
li.nav-admintool::after {background: transparent;border-color: #80c31f #72b116 #80c31f #72b116;border-style: solid;border-width: 70px 0 0 32px;content: "";display: block;right: -3px;position: absolute; top: 0; width: 0;}
li.nav-admintool a{background: #72b116 url('../images/admin-tool-ico.svg') no-repeat 0 13px;position:relative;right:30px;width:50px;height:50px;padding-top:70px;padding-bottom:0px;display: block;}
li.nav-admintool a:hover, li.nav-admintool a:focus{background-color: #72b116!important}
li.nav-profile, li.nav-logout{color:#ffffff;font-size:1.3em;font-family: 'open_sanslight', arial;line-height: 1em;}
li.nav-profile svg{margin-left: 10px;}
li.nav-logout{margin:13px 0px 0 15px;border-left: solid 1px #ffffff;padding-top:11px!important;}
li.nav-logout a{padding-bottom: 0px;}
li.nav-logout a:hover, li.nav-logout a:focus{color:#ffffff!important;text-decoration: underline;}
.top-breadcrumb{font-size: 1.5em;padding-top: 7px;padding-left:0;}
.help::before {background: #000;border-color: #fff #f3f9e9 #fff #f3f9e9;border-style: solid;border-width: 0 35px 49px 0;content: "";display: block;left: -22%;position: absolute; top: 0px; width: 0;}
.help{background: #f3f9e9;height:50px;margin-top:-2px;text-align:right;font-size:1.5em;padding:9px 0px 0 0 ;}
.help a{color:#333;opacity: 1;-webkit-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;transition: all 0.2s ease-in-out}
.help a:hover{color:#358dca;}
.nav .open > a.help-dropdown, .nav .open > a.help-dropdown:focus, .nav .open > a.help-dropdown:hover{background:transparent;}
li.nav-help{padding-top:13px!important;padding-bottom:1px}
li.tenant-name{position:absolute;top:47px;left:65px;font-size: 12px;}

/*sidebar
#bs-example-navbar-collapse-1 .navbar-toggle:before{font-family: FontAwesome; content: "\f138";font-size: 12px;}*/

/*admin tool*/
ul.admin-tool-menu, ul.help-menu, ul.import-menu{min-width:220px;border-radius:0;padding-top:10px;padding-bottom:10px;right: 14px!important;top:64px;}
ul.admin-tool-menu li a, ul.help-menu li a, ul.import-menu li a{background:transparent; display: block;height: 35px;padding: 5px 15px;right: 0;top: 0;width: 92%;border-bottom:solid 1px #d8d7d7;margin:0 4%;}
ul.admin-tool-menu li a:hover, ul.help-menu li a:hover, ul.import-menu li a:hover{color:#fff;}
ul.admin-tool-menu li:last-child a, ul.help-menu li:last-child a, ul.import-menu li:last-child a{border-bottom:none;}
ul.admin-tool-menu .fa, ul.help-menu .fa{width:20px;}
.admin-tool-menu:before, ul.help-menu:before, ul.import-menu:before {content: "";position: absolute;top: -12px;right: 15px;border-style: solid;border-width: 0 12px 15px 12px;border-color: #fff transparent;display: block;width: 0;z-index: 0;}
/*help menu*/
ul.help-menu{right: 0px!important;top: 40px;}
ul.help-menu li a:hover,  ul.import-menu li a:hover{background-color:#72b116}
ul.help-menu:before {top: -10px;right: 4px;border-width: 0 10px 12px 10px;}
ul.import-menu{top:25px;min-width: 170px;}
ul.import-menu:before{left: 4px;}

/*conetnt css*/
.content-area{margin-top:0px;}
.content-area label{ font-size: 1em;font-weight: 500;}
.inner-addon {position: relative;}
.inner-addon .glyphicon { position: absolute;padding: 10px;pointer-events: none;}
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}/
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.bottom-container-area{/*background-color:#ffffff;border-top: 1px solid #ddd;box-shadow: 0px 4px 3px #ddd;*/padding-bottom:20px;min-height:600px;}
.middle-content{background-color:#ffffff;margin-top:20px;border:solid 1px #ddd;min-height:600px;margin-bottom:80px;}
.page-title{Padding:0;margin:0;}
.page-title small{font-size: 55%;color:#72b116;}
.left-title{padding-top:5px;margin-bottom:5px;color:#333333;}
a.left-title:hover{text-decoration:underline;}

/*dashboard tab css*/
.nav-tabs{padding-right:0;}
.dashboard-count{font-family: 'open_sansbold', arial; margin-right:10px;float:right;}
.nav-tabs > li > a{font-size: 1.2em;color:#333333;border:none;border-bottom:solid 5px #e6e6e6; margin-right: 30px;cursor: pointer;padding:3px 5px;padding-left:0;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover{background-color: transparent;border:none;border-bottom:solid 5px #53afee;border-radius:0;}
.nav-tabs{ border-bottom: 0;}
.nav-tabs a:hover{text-decoration:none!important;}
.nav-tabs .tab-refresh{ border: 0!important;padding: 9px 0;position:absolute; right: -4px; top: 0; z-index: 1000;cursor: pointer!important;}
.tab-content{margin-top: 15px;}
.tab-content > .tab-pane{/*padding-top:10px;*/border: solid 1px #dfdfdf;}
#cancer-risk-factor .tab-pane{border:none;}
.nav-tabs > li > a:focus{background: transparent}
#CancerRiskChild{border-bottom:solid 2px #e6e6e6;}
#CancerRiskChild li a{font-size:1em;border-bottom: 3px solid transparent;padding-bottom: 3px;}
#CancerRiskChild > li.active > a, #CancerRiskChild > li.active > a:focus, #CancerRiskChild > li.active > a:hover, #CancerRiskChild > li > a:hover{border-bottom:solid 3px #53afee;padding-bottom: 3px;}

/*appointment table css*/
.table-cell-bdr tbody td{border-right:solid 1px #98c7e7;}
.apppointment-table thead th, .data-display-table thead th{background-color: #53afee;color:#ffffff;border:none;padding:12px 3px;font-size:1.1em;position:relative;}
.apppointment-table tbody tr, .apppointment-table tbody tr:nth-of-type(2n+1), .data-display-table tbody tr, .data-display-table tbody tr:nth-of-type(2n+1)

{background-color: #d5ecfc;}
.apppointment-table tbody td{ border-top: 1px solid #99c1dd!important;vertical-align: middle!important;padding:8px 3px!important;}
li.add-appointment a, li.add-MRI a{border:none; padding: 0px 0 0 10px;margin-right:0;}
li.add-appointment a:hover, li.add-MRI a:hover{border:none;}
#dashboardmodal{margin-top:300px;}
#dashboardmodal a{color:#333;text-decoration:underline}
.apppointment-table th:after, .apppointment-table th.headerSortUp:after, .apppointment-table th.headerSortDown:after,
#v3-report .apppointment-table th:after, #v3-report .apppointment-table th.headerSortUp:after, #v3-report .apppointment-table th.headerSortDown:after, #v2-report .apppointment-table th:after, #v2-report .apppointment-table th.headerSortUp:after, #v2-report .apppointment-table th.headerSortDown:after
 { cursor: pointer;font-weight: bold;padding-left: 5px;margin-left: -3px;font-family: FontAwesome; content: "\f0dc";font-size: 12px; } 
.apppointment-table th.headerSortUp:after{content: "\f0de";  } 
.apppointment-table th.headerSortDown:after {content: "\f0dd";  } 
.apppointment-table th:last-child::after, .apppointment-table th.headerSortUp:last-child::after, .apppointment-table th.headerSortDown:last-child::after {content: "";}
/*for all td sorting table*/ 
.all-cell-sorting-table th:after, .aall-cell-sorting-table th.headerSortUp:after, .all-cell-sorting-table th.headerSortDown:after{content: "\f0dc"!important;} 

/*.apppointment-table th > span:after{content: "\f0dc"; font-family: FontAwesome;position: absolute;right: -1px;top: 12px;}*/

/*fixed table header*/
.table-fixed thead {width: 97%;}
.table-fixed tbody {height: 230px;overflow-y: auto;width: 100%;}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {display: block;}
.table-fixed tbody td, .table-fixed thead > tr> th {float: left;border-bottom-width: 0;}

/*dropdown submenu*/
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;border-radius:0;min-width: 135px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;}

/*Page Content*/
.schedule-more-detail{Font-size:1.1em;color:#333;font-weight:bold;}
.schedule-more-detail .fa{color:#53afee;Font-size:1.2em;}
#page-content-wrapper a:hover{text-decoration:underline;}
#page-content-wrapper .form-control{height:30px;padding:3px 12px;}
#page-content-wrapper textarea.form-control{height:auto;}
#page-content-wrapper .inner-addon .glyphicon{padding:7px 10px;}

/*Institution list css*/
.search-ico-bg{background-color:#000066;color:#ffffff;border-radius:0 4px 4px 0!important;cursor:pointer;}
img.refresh-istitution-list{margin:-3px 4px 0 4px;}
img.add-istitution-list{margin:-3px 4px 0 30px;}
.quick-add-institution img{margin-right:7px;}
#institution-list a, .quick-add-links a{color:#333;}
#institution-list a:hover, .quick-add-links a:hover{color:#358dca;text-decoration:underline;}
#institution-list .pull-right > .dropdown-menu{left: -105px;padding: 15px;}
#institution-list .dropdown-menu{min-width: 260px;}
#institution-list label{font-size:14px;}

/*Survey Editor*/
#SurveyEditor .checkbox{border:none;margin: 0px;} 


/*quick add div*/
.quick-add-inner-div{width:98%;height:auto;margin:1%;background:#fff;padding:1.5%;}
.quick-add-links{font-size:1em;white-space: normal;word-wrap: break-word;}
.quick-add-links a{margin-right:12px;}
.quick-add-links a:last-child{margin-right:0px;}

/*all modal popup*/
.modal-header{padding: 10px 15px; background-color: #53afee;color: #fff;border-radius:5px 5px 0 0;}
.modal-title{font-weight:bold;}
#add-edit-MRN .modal-dialog{width:400px;}
.modal-dialog{margin-top:200px;}
#schedule-new-doc-modal .modal-dialog, #pedigree-diagram-modal .modal-dialog, #risk-calc-display-modal .modal-dialog, #about-us-moadal .modal-dialog, #BRCA-pedigree-diagram-modal .modal-dialog, #LifetimeCancer-pedigree-diagram-modal .modal-dialog, #edit-provider .modal-dialog{width:700px;margin-top:30px;}
#pedigree-diagram-modal .view-doc-content, #BRCA-pedigree-diagram-modal .view-doc-cont, #LifetimeCancer-pedigree-diagram-modal .view-doc-cont{height:630px;}
#about-us-moadal .modal-dialog ul{Height:300px;overflow:auto;}
#about-us-moadal .modal-dialog ul li{line-height:25px;}
#edit-provider .form-horizontal .control-label{font-weight:normal;font-size:14px;}
#edit-provider .form-horizontal .form-control {height:30px;}
#edit-provider .form-horizontal select.form-control{padding:3px 12px;}
#edit-provider .form-horizontal .btn {padding:4px 12px;} 

/*modal with two column*/
.modal-sidebar{background:#f5f5f5;}
.modal-sidebar h5{background-color: #d6efff;font-weight: bold;margin: 0 -15px;padding: 10px;}
.modal-sidebar ul{font-size: 13px;list-style-type: none;padding: 10px 0;}
.modal-sidebar ul li{border-bottom:solid 1px #dfdfdf;padding:5px 0;}
.modal-sidebar ul li:last-child{border-bottom:none;}
.modal-sidebar ul a{color:#333;}
.modal-sidebar ul a:hover{text-decoration:underline;color: #358dca;}
.view-doc-content, .view-doc-cont{border:solid 1px #dfdfdf;height:400px;overflow:auto;}
.view-doc-cont{border:0;}
/*page content wrapper two column*/
#page-content-wrapper .modal-sidebar ul{font-size: 14px;}
#page-content-wrapper .view-doc-content{height:450px;}


/*accordion csss*/
.accordion-toggle:hover {text-decoration: none;}
.BreastCancerAccordion .panel-heading, .ColorectalCancerRiskAccordion .panel-heading{padding: 10px 20px 8px 20px;}
.BreastCancerAccordion .panel-title, .ColorectalCancerRiskAccordion .panel-title{font-size: 14px;}
.BreastCancerAccordion .panel-body, .ColorectalCancerRiskAccordion .panel-body {padding: 15px;font-size: 12px;}
.BreastCancerAccordion .accordion-toggle .glyphicon, .ColorectalCancerRiskAccordion .accordion-toggle .glyphicon{margin-right:5px;}
.BreastCancerAccordion .activeAccordion, .BreastCancerAccordion .panel-heading:hover, .ColorectalCancerRiskAccordion .activeAccordion, .ColorectalCancerRiskAccordion .panel-heading:hover
{background-color:#52aeef;color:#fff;}
.panel-heading a:focus, .panel-heading a:hover{text-decoration:none!important;}
#accordion label, #accordion1 label{font-size: 13px;}
#accordion .input-small, #accordion1 .input-small{width:35%!important;}
#accordion select{min-width:50%;}
#accordion1 select{min-width:30%;}
#accordion .form-inline div, #accordion1 .form-inline div{padding-right:0;}

/*common classes*/
a{cursor: pointer;}
a:focus{outline:none;}
a:hover{text-decoration: none;}
.btn{border-radius:0;}
.btn-sm{padding: 2px 10px;}
.Padding-15{padding:15px;}
.Padding-LR-0{padding-left:0;padding-right: 0;}
.Padding-LR-10{padding-left:10px;padding-right: 10px;}
.Padding-L-0{padding-left: 0!important;}
.Padding-R-0{padding-right: 0;}
.Padding-R-15{padding-right: 15px!important;}
.Padding-T-5{padding-top: 5px;}
.Padding-T-10{padding-top: 10px;}
.Padding-T-15{padding-top: 15px!important;}
.Padding-T-24{padding-top: 24px;}
.Padding-T-28{padding-top: 28px;}
.Padding-TB-10{padding-top: 10px;padding-bottom:10px;}
.Margin-L-0{margin-left:0px!important;}
.Margin-T-0{margin-top:0px}
.Margin-T-5{margin-top:5px}
.Margin-T-10{margin-top:10px}
.Margin-T-20{margin-top:20px}
.Margin-B-10{margin-bottom:10px}
.Margin-L-10{margin-left:10px}
.Margin-L-15{margin-left:15px}
.Margin-R-10{margin-right:10px}
.Margin-TB-5{margin-top: 5px;margin-bottom:5px;}
.Margin-TB-10{margin-top: 10px;margin-bottom:10px;}
.height-30{height:30px;}
.Margin-0{margin:0!important;}
.align-center{text-align:center}
.align-left{text-align:left}
.align-right{text-align:right}
small{font-size:0.7em;}
.small-txt{font-size:12px;font-weight:normal!important;}
.hr-style{border-color: #dfdfdf;}
.clear-float{clear:both;}
.bold-txt{font-weight:bold;}
.horizontal-devider{border-right: solid 1px #ddd;}
.tooltip{font-family: 'open_sanslight', arial;font-style: normal;}
.phone-no-input div:first-child{padding-right:0;}
.phone-no-input div:nth-child(2){padding-right:5px;padding-left:5px;}
.phone-no-input div:last-child{padding-left:0px;}
.highlight-row{background-color:#a6d2f0!important;}
.fixed-height-300{max-height:300px;overflow:auto;height:auto;}
.no-border{border:0px!important;}
.red-text{color:red;}

/*all buttons*/
.search-group{box-shadow: 1px 1px 4px #ccc;line-height:27px;}
.search-btn, .add-btn{background-color: #53afee;border-radius: 0;border:none;color: white;font-size:1.1em!important;padding:4px 12px;}
.search-btn-ico{background-color: #358dca;color: white;padding: 8px;cursor:pointer;top:0;}
.search-btn:hover, .add-btn:hover, .search-btn.focus, .search-btn:focus{background-color: #358dca;color: white;}
.add-btn{padding:3px 6px;font-size:1em;}
.btn{font-size:14px;}
.btn-primary{background-color: #53afee;border-color: #fff;}
.btn-primary:hover{background-color: #358dca;border-color: #fff;}
.btn-success{background-color: #73b210;border-color: transparent;}
.btn-success:hover, .btn-success.focus, .btn-success:focus{background-color: #639c11;border-color: transparent;}
.btn-cancel{background-color: #e6f3d2;border-color: transparent;color:#6b7a55;}
.btn-cancel:hover{background-color: #ddebc7;border-color: transparent;color:#6b7a55;}
.slide-save, .slide-cancel{}
/*multiselct */
.multiselect {border-radius:4px;padding:4px 10px;}
.multiselect-container li.active a, .multiselect-container li.active a:hover{background-color:#f1f1f1;color:#333333;}


/*footer css*/
footer{position:fixed; box-shadow: 10px 0 6px #ddd;background-color:#fff;width:100%;z-index:1000;bottom:0;right:0;}
.footer-style{width: 46px;background-color: #e0ecc7;height: 50px;opacity: 0.8;filter: alpha(opacity=80); /* For IE8 and earlier */}
footer:before{background: transparent ;border-color: transparent #72b116;border-style: solid;border-width: 50px 0px 0px 74px;content: "";display: block;left: 0px;position: absolute; top: 0; width: 0;z-index: 100;}
.footer-style:after{background: transparent ;border-color: transparent #e0ecc7;border-style: solid;border-width: 50px 0 0 85px;content: "";display: block;left: 46px;position: absolute; top: 0; width: 0;z-index:-1;opacity: 0.8;filter: alpha(opacity=80); /* For IE8 and earlier */}
footer .container{text-align: center;color:#838383;font-size:12px;}

/*fixed table header*/
table {table-layout:fixed;}
.div-table-content {height:430px; overflow-y:auto;}
.fixed-table-header .panel{border:0!important;border-radius: 0px;box-shadow:0 0 0;margin-bottom:0;}
.fixed-table-header  tr:first-child, .fixed-table-header  th:first-child, tr:last-child, th:last-child
{border-top-left-radius:0!important;border-top-right-radius:0!important;}
.fixed-table-header th{padding-top:10px!important;padding-bottom:10px!important;}
/*table content ellipse*/
table tr th, table tr td{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
/*erroe page*/
.errorpage{min-height:480px; padding-top:80px}
.errorpage h1{font-size:150px; color:#d9241f; font-weight:bold;text-shadow:2px 2px 4px #999;}
.errorpage h1 span{font-size:36px; color:#000;text-transform:uppercase;text-shadow:0 0 0 #fff;}
.errorpage p{font-size:18px;}

/* css for google chrome only */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .search-btn{padding: 4.5px 12px;}
}

/* css for internet explorer only */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	li.nav-admintool a{background: #72b116 url('../images/admin-tool-ico.svg') no-repeat 0 3px;}
}


/*Media Queries Start here*/
/* Desktops and laptops ----------- */
@media only screen and (max-width : 1920px) {
    .top-header-bg, .help{background:#ffffff;}   
    .container{padding-right:0;}
     .help::before{left:0%;display:none;}
   

}

/* iPads (landscape) ----------- */
@media only screen and (max-width : 1280px) {
.top-header-bg{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 80%, #f3f9e9 80%, #f3f9e9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 80%,#f3f9e9 80%,#f3f9e9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffffff 0%,#ffffff 80%,#f3f9e9 80%,#f3f9e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f9e9',GradientType=1 ); /* IE6-9 */
}
    .help::before{left:-6.5%;display:block;}
    .help{background:#f3f9e9;}   
    
}/*1280 end here*/

/* iPads (portrait) ----------- */
@media only screen and (max-width : 1024px) {
     .help::before{left:-10%;padding-left:73px;}
	}/*1024 end here*/


@media only screen and (max-width : 980px) {
     .help::before{left:-6%;padding-left:0px;}
    .logo-slogan{font-size: 0.73em;}
    .user-name{padding-left:0;}
    .search-btn{padding:6px;}
    .horizontal-devider{border-right: 0;}
    .nav-tabs > li > a{padding-right: 20px;margin-right: 15px; font-size: 1.2em;}
	.nav-tabs > li:nth-child(3) > a{margin-right: 0px;}
    .dashboard-count{ margin-left: 5px;}
    #Schedule .table{max-width:130%;width:130%;}
}/*980 end here*/

@media only screen and (max-width : 800px) {    
    .profile-pic{display:none;}
    /* .navbar-header{padding-top: 10px;}  */
    .logo-dark-blue, .logo-light-blue{font-size: 1.4em;}
     .logo-slogan{font-size: 0.6em;}
    .user-name{padding-left:10px;}
    .help::before{left:-3%;}
  
}/*800 end here*/

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 768px) {    
    /*.navbar-header{padding-top: 10px;}  */
    li.nav-logout{margin-right:0;}
    li.nav-logout a{margin-right:0;padding-right:0;}
    .help::before{left:-2%;}
    .search-btn{padding:7px 3px;font-size: 1.1em;}
}/*780 end here*/